<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logstashHost" source="logstash.host"/>
    <springProperty scope="context" name="logstashPort" source="logstash.port"/>
    <springProperty scope="context" name="kafkaHost" source="kafka.host"/>
    <springProperty scope="context" name="kafkaPort" source="kafka.port"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </pattern>
        </encoder>
    </appender>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern> %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n </Pattern>
        </encoder>
    </appender>
<!--    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <param name="Encoding" value="UTF-8"/>-->
<!--        <remoteHost>${logstashHost}</remoteHost>-->
<!--        <port>${logstashPort}</port>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp>-->
<!--                    <timeZone>UTC</timeZone>-->
<!--                </timestamp>-->
<!--                <pattern>-->
<!--                    <pattern>{"@version": "1", "message": "%message", "logger_name": "%logger", "thread_name": "%thread", "level": "%level", "stack_trace": "%ex", "mdc": "%X", "class": "%C", "method": "%M", "file": "%F:%L"}</pattern>-->
<!--                </pattern>-->
<!--                <stackTrace/>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->
    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <topic>audit-log-test</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <!-- Optional parameter to use a fixed partition -->
        <!-- <partition>0</partition> -->
        <!-- Optional parameter to include log timestamps into the kafka message -->
        <!-- <appendTimestamp>true</appendTimestamp> -->
        <!-- each <producerConfig> translates to regular kafka-client config (format: key=value) -->
        <!-- producer configs are documented here: https://kafka.apache.org/documentation.html#newproducerconfigs -->
        <!-- bootstrap.servers is the only mandatory producerConfig -->
        <producerConfig>bootstrap.servers=${kafkaHost}:${kafkaPort}</producerConfig>
        <!-- this is the fallback appender if kafka is not available. -->
        <appender-ref ref="SAVE-TO-FILE" />
    </appender>
    <logger name="ie.rsa.auditlogging.demo" additivity="false" level="info">
        <appender-ref ref="SAVE-TO-FILE" />
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="logstash" />-->
        <appender-ref ref="kafkaAppender" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>